<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfYgPp1E7k3Uu-RoSIriR_PZCd8Js-kgo</string>
	<key>GCM_SENDER_ID</key>
	<string>990439857015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuel.FIre-Notes</string>
	<key>PROJECT_ID</key>
	<string>fire-notes-8c119</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-notes-8c119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990439857015:ios:ddf12afaf8bc5900191f72</string>
</dict>
</plist>